.wrap{
    overflow-y: auto;
    .framework {
        background: url('https://gw.alicdn.com/imgextra/i1/O1CN01SzXzZl1U46EOknhoB_!!6000000002463-2-tps-1380-362.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        
        .price {
            width: 25%;
            // width: 95px;
            height: 97px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 97px;
            align-items: baseline;
            .span {
                font-size: 32px;
                font-weight: bold;
                color: #ae650e;
            }
            .currencyUnit{
                color: #ae650e;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .time{
        font-size: 10px;
        color: #e8dab1;
        font-weight: 400;
    }
    .centerDiv {
        width: 50%;
        flex: 1;
        display: flex;
        // width: 195px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        margin-left: 9px;
        .spacingTop {
            font-size: 16px;
            font-weight: bold;
            color: #e8dab1;
            margin-bottom: 5px;
        }
        .spacingCenter {
            margin-bottom: 8px;
            color: #e8dab1;
            font-size: 13px;
            font-weight: 500;
        }
    }
    
    .countdownTime {
        width: 21px;
        display: inline-block;
        height: 19px;
        background-color: #e8dab1;
        border-radius: 2px;
        margin: 0px 5px 0px 5px;
        color: red;
        font-weight: 600;
        line-height: 19px;
        text-align: center;
    }
    
    .buttonDiv {
        width: 20%;
        margin-right: 16px;
        .button{
            width: 84px;
            height: 37px;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 550;
            background-image: linear-gradient(to right, #e5e0d3, #f0dc9e);
            border: 0px solid black;
            color: #ae650e;
        }
    }
    
    .demo {
        color: white;
        background-color: black;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
      }
    .img{
        position: absolute;
        top: 40%;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}